cliente_bodega/src/conf/xml-resources/web-service-references/ServiciosAdmin/wsdl/localhost_8080/servicio_bodega/ServiciosAdmin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="ServiciosAdmin">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/servicio_bodega/ServiciosAdmin?xsd=1"/>
</xsd:schema>
</types>
<message name="ActualizarPrecio">
<part name="parameters" element="tns:ActualizarPrecio"/>
</message>
<message name="ActualizarPrecioResponse">
<part name="parameters" element="tns:ActualizarPrecioResponse"/>
</message>
<message name="Ciudades">
<part name="parameters" element="tns:Ciudades"/>
</message>
<message name="CiudadesResponse">
<part name="parameters" element="tns:CiudadesResponse"/>
</message>
<message name="ActualizarCantidad">
<part name="parameters" element="tns:ActualizarCantidad"/>
</message>
<message name="ActualizarCantidadResponse">
<part name="parameters" element="tns:ActualizarCantidadResponse"/>
</message>
<message name="productos">
<part name="parameters" element="tns:productos"/>
</message>
<message name="productosResponse">
<part name="parameters" element="tns:productosResponse"/>
</message>
<message name="listarBodegas">
<part name="parameters" element="tns:listarBodegas"/>
</message>
<message name="listarBodegasResponse">
<part name="parameters" element="tns:listarBodegasResponse"/>
</message>
<portType name="ServiciosAdmin">
<operation name="ActualizarPrecio">
<input wsam:Action="http://webservice/ServiciosAdmin/ActualizarPrecioRequest" message="tns:ActualizarPrecio"/>
<output wsam:Action="http://webservice/ServiciosAdmin/ActualizarPrecioResponse" message="tns:ActualizarPrecioResponse"/>
</operation>
<operation name="Ciudades">
<input wsam:Action="http://webservice/ServiciosAdmin/CiudadesRequest" message="tns:Ciudades"/>
<output wsam:Action="http://webservice/ServiciosAdmin/CiudadesResponse" message="tns:CiudadesResponse"/>
</operation>
<operation name="ActualizarCantidad">
<input wsam:Action="http://webservice/ServiciosAdmin/ActualizarCantidadRequest" message="tns:ActualizarCantidad"/>
<output wsam:Action="http://webservice/ServiciosAdmin/ActualizarCantidadResponse" message="tns:ActualizarCantidadResponse"/>
</operation>
<operation name="productos">
<input wsam:Action="http://webservice/ServiciosAdmin/productosRequest" message="tns:productos"/>
<output wsam:Action="http://webservice/ServiciosAdmin/productosResponse" message="tns:productosResponse"/>
</operation>
<operation name="listarBodegas">
<input wsam:Action="http://webservice/ServiciosAdmin/listarBodegasRequest" message="tns:listarBodegas"/>
<output wsam:Action="http://webservice/ServiciosAdmin/listarBodegasResponse" message="tns:listarBodegasResponse"/>
</operation>
</portType>
<binding name="ServiciosAdminPortBinding" type="tns:ServiciosAdmin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ActualizarPrecio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Ciudades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarCantidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarBodegas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosAdmin">
<port name="ServiciosAdminPort" binding="tns:ServiciosAdminPortBinding">
<soap:address location="http://localhost:8080/servicio_bodega/ServiciosAdmin"/>
</port>
</service>
</definitions>