cliente_bodega/src/conf/xml-resources/web-service-references/servicioDetalle/wsdl/localhost_8080/servicio_bodega/servicioDetalle.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="servicioDetalle">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/servicio_bodega/servicioDetalle?xsd=1"/>
</xsd:schema>
</types>
<message name="ListaGeneral">
<part name="parameters" element="tns:ListaGeneral"/>
</message>
<message name="ListaGeneralResponse">
<part name="parameters" element="tns:ListaGeneralResponse"/>
</message>
<message name="ListarStock">
<part name="parameters" element="tns:ListarStock"/>
</message>
<message name="ListarStockResponse">
<part name="parameters" element="tns:ListarStockResponse"/>
</message>
<message name="ProductoBuscado">
<part name="parameters" element="tns:ProductoBuscado"/>
</message>
<message name="ProductoBuscadoResponse">
<part name="parameters" element="tns:ProductoBuscadoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="DetalleBodega">
<part name="parameters" element="tns:DetalleBodega"/>
</message>
<message name="DetalleBodegaResponse">
<part name="parameters" element="tns:DetalleBodegaResponse"/>
</message>
<portType name="servicioDetalle">
<operation name="ListaGeneral">
<input wsam:Action="http://webservice/servicioDetalle/ListaGeneralRequest" message="tns:ListaGeneral"/>
<output wsam:Action="http://webservice/servicioDetalle/ListaGeneralResponse" message="tns:ListaGeneralResponse"/>
</operation>
<operation name="ListarStock">
<input wsam:Action="http://webservice/servicioDetalle/ListarStockRequest" message="tns:ListarStock"/>
<output wsam:Action="http://webservice/servicioDetalle/ListarStockResponse" message="tns:ListarStockResponse"/>
</operation>
<operation name="ProductoBuscado">
<input wsam:Action="http://webservice/servicioDetalle/ProductoBuscadoRequest" message="tns:ProductoBuscado"/>
<output wsam:Action="http://webservice/servicioDetalle/ProductoBuscadoResponse" message="tns:ProductoBuscadoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice/servicioDetalle/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice/servicioDetalle/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="DetalleBodega">
<input wsam:Action="http://webservice/servicioDetalle/DetalleBodegaRequest" message="tns:DetalleBodega"/>
<output wsam:Action="http://webservice/servicioDetalle/DetalleBodegaResponse" message="tns:DetalleBodegaResponse"/>
</operation>
</portType>
<binding name="servicioDetallePortBinding" type="tns:servicioDetalle">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ListaGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProductoBuscado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DetalleBodega">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicioDetalle">
<port name="servicioDetallePort" binding="tns:servicioDetallePortBinding">
<soap:address location="http://localhost:8080/servicio_bodega/servicioDetalle"/>
</port>
</service>
</definitions>