cliente_bodega/src/conf/xml-resources/web-service-references/servicioUsuario/wsdl/localhost_8080/servicio_bodega/servicioUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="servicioUsuario">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/servicio_bodega/servicioUsuario?xsd=1"/>
</xsd:schema>
</types>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario"/>
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse"/>
</message>
<message name="Listar">
<part name="parameters" element="tns:Listar"/>
</message>
<message name="ListarResponse">
<part name="parameters" element="tns:ListarResponse"/>
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario"/>
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse"/>
</message>
<portType name="servicioUsuario">
<operation name="validarUsuario">
<input wsam:Action="http://webservice/servicioUsuario/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://webservice/servicioUsuario/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="Listar">
<input wsam:Action="http://webservice/servicioUsuario/ListarRequest" message="tns:Listar"/>
<output wsam:Action="http://webservice/servicioUsuario/ListarResponse" message="tns:ListarResponse"/>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://webservice/servicioUsuario/buscarUsuarioRequest" message="tns:buscarUsuario"/>
<output wsam:Action="http://webservice/servicioUsuario/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"/>
</operation>
</portType>
<binding name="servicioUsuarioPortBinding" type="tns:servicioUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicioUsuario">
<port name="servicioUsuarioPort" binding="tns:servicioUsuarioPortBinding">
<soap:address location="http://localhost:8080/servicio_bodega/servicioUsuario"/>
</port>
</service>
</definitions>